<h1>Ingredients</h1>
<br>
<h2>Grain</h2>
<ul>
  <% @grain_list.uniq.reject(&:empty?).each do |grain| %>
    <li><%= grain %></li>
  <% end %>
</ul>
<br>
<h2>Hops</h2>
<ul>
  <% @hop_list.uniq.reject(&:empty?).each do |hop| %>
    <li><%= hop %></li>
  <% end %>
</ul>
<br>
<h2>Yeast</h2>
<ul>
  <% @yeast_list.uniq.reject(&:empty?).each do |yeast| %>
    <li><%= yeast %></li>
  <% end %>
</ul>