<h1>You've strayed too far.</h1>
<br>

<% if @error %>
  <div class="notification is-danger">
    You have stolen a <%= @error %>. Give it back.
  </div>
<% end %>

<p>Click <a href='/'>here</a> to get to the homepage.</p>